.iqs-gateways-edit-panel {
    .pip-pic.iqs-gateway-avatar {
        border-radius: 40px;
        height: 80px;
        width: 80px;
        md-icon {
            height: 56px;
            width: 56px;
            min-height: 56px;
            min-width: 56px;
        }
    }
}